version: '3.4'
services:
  weaviate:
    image: semitechnologies/weaviate:1.27.0
    ports:
      - "8080:8080"
      - "50051:50051"
    volumes:
      - weaviate_data:/var/lib/weaviate
    restart: on-failure:0
    environment:
      ENABLE_MODULES: "multi2vec-clip"
      DEFAULT_VECTORIZER_MODULE: "multi2vec-clip"
      CLIP_INFERENCE_API: "http://multi2vec-clip:8080"
      QUERY_DEFAULTS_LIMIT: 25
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: "true"
      PERSISTENCE_DATA_PATH: "/var/lib/weaviate"
      CLUSTER_HOSTNAME: "node1"
    depends_on:
      - multi2vec-clip
  multi2vec-clip:
    image: semitechnologies/multi2vec-clip:sentence-transformers-clip-ViT-B-32-multilingual-v1
    environment:
      ENABLE_CUDA: "0"
    ports:
      - "8081:8080"

volumes:
  weaviate_data:

